/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide scrollbar for Firefox */
html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide scrollbar for all elements */
* {
  overflow: -moz-scrollbars-none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

::selection {
  background: rgba(97, 218, 251, 0.3);
  color: #fff;
}
